<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>tewdew | a simple todo list application</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	
  <%= stylesheet_link_tag 'stylesheet' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render :partial => 'layouts/notices' if flash[:notice] %>

<div id="page">
  <div id="header">
    <%= render :partial => 'layouts/usernav' %>
    <%= render :partial => 'layouts/header' %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>
